body {
    background-color: blue;

}
.head{
    margin-left: 50%;
    margin-top: 10%;
    color: white;
    font-size: 72pt;
    font-family: Arial, Helvetica;
}
 .main{ 
    height: 500px;;
    width: 350px;
    background-color:#fff;
    margin: -25% 160px 50px 80px;   
}
h1{
    font-family:  Arial, Helvetica;
    margin-left: 30px;
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 5px;
}
u{
text-decoration: underline blue;
}
.input-box{
    height: 40px;
    width: 80%;
    margin:15px 20px 20px 30px;
    margin-bottom: 1px;
    border-radius: 8px;
}
span{
    font-family: Arial, Helvetica;
    font-size: 12pt;
    
}
.check{
    margin-left: 30px;
}
::placeholder{
    font-family: Arial, Helvetica;
}
#btn{
    height: 50px;
    width: 300px;
    background-color: blue;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding-left:40px; 
    padding-right: 30px;
    margin: -12px 25px 20px 25px;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
a{
text-decoration: none;
color: blue;
font-family: Arial;
}
.account{
    text-align: center;
}